*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}



@font-face {
  font-family: 'ubuntu-bold';
  src: url(./fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: 'ubuntu-regular';
  src: url(./fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: 'ubuntu-medium';
  src: url(./fonts/Ubuntu-Medium.ttf);
}


body{
  font-family: 'ubuntu-bold';
  background: #f1f8f8;
}
